.layout-container {
  display: flex;
  height: 100vh;
  background-color: rgb(7, 6, 6);
  color: #fff;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  background-color: rgb(7, 6, 6);
}

.main-content.collapsed {
  margin-left: 60px;
}

@media (max-width: 576px) {
  .main-content {
    margin-left: 0;
    overflow-x: hidden;
  }

  .main-content.collapsed {
    margin-left: 0;
  }
}

.dashboard-content {
  padding: 20px;
  background-color: rgb(7, 6, 6);
}